/* #fff - wit
#4d8083  - donker teal
#fac9d8 - licht roze
#60c7c9 - fel teal
#ee4297 - fel roze
#dcbfa4 - bruin
*/


$first-color: #FFF;
$second-color: #4d8083;
$third-color: #fac9d8;
$fourth-color: #60c7c9;
$fifth-color: #ee4297;
$sixth-color: #dcbfa4;

$text-transform: uppercase;

$big-text: 46px;
$larger-text: 16px;
$normal-text: 14px;
$smaller-text: 12px;
$small-text: 11px;

$header-one: 36px;
$header-two: 34px;
$header-three: 32px;
$header-four: 30px;
$header-five: 28px;
$header-six: 24px;




$mobile-lead: 28px;